cryptography==3.2.1
pyflakes
py2app
macholib
modulegraph
flake8
coverage
wheel

robotpy ==2021.*

# If installed on OSX (joystick support) it seems to fail?
pyfrc == 2021.*
robotpy-ctre == 2021.*
robotpy-navx == 2021.*
robotpy-rev == 2021.*
robotpy-rev-color == 2021.*
robotpy-halsim-gui == 2021.*
robotpy-wpilib-utilities == 2021.*
pynetworktables
